.glass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
    width: 48rem;
    height: 48rem;
    border-radius: 1.4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.4rem);
}

.circle1, .circle2{
    background: #fff;
    background: linear-gradient(to right bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }

.circle1{
    top: 5%;
    right: 20%;
}  
.circle2{
    bottom: 5%;
    left: 20%;
}

.progressBarMain{
  margin: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 1.8rem;
  width: 100%;
}

.progressBar{
  background: linear-gradient(to right bottom, rgba(200, 235, 255, 0.4), 
    rgba(200, 235, 255, 0.3));
  width: 90%;
  height: 2rem;
  border-radius: 50px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.correntProgress{
  background: linear-gradient(33deg, rgba(200, 235, 255, 0.9) 21%, rgba(255, 255, 255, 0.7));
  height: 100%;
  border-radius: 50px;
}

.progressBarMain > p {
  margin: 0;
  padding: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 500;
}

#monthsTogether{
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.month{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 60px;
  border-radius: 15px;
  background: linear-gradient(to right bottom, rgba(200, 235, 255, 0.4),rgba(255, 255, 255, 0.4));
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.month > h2{
  font-size: 14px;
}

.month > p{
  font-size: 10px;
}

.monthOnFocus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 40%;
  height: 80px;
  margin: 0 10px;
  border-radius: 15px;
  background: linear-gradient(to right bottom, rgba(200, 235, 255, 0.4),rgba(255, 255, 255, 0.4));
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  
}

.monthOnFocus > h2{
  font-size: 22px;
}

.monthOnFocus > p{
  font-size: 18px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
}

footer > p{
  font-size: 16px;
}

.sub{
  font-size: 12px;
}
@media(max-width:900px){
    .glass{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(0rem);
        border: none;
        border-radius: 0px;
        background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      }
    
      .circle1, .circle2{
        position: absolute;
        height: 10rem;
        width: 10rem;
      }
    
      .circle1{
        top: 3%;
        right: 2%;
      }
    
      .circle2{
        bottom: 3%;
        left: 2%;
      }
    
}
  