.alert{
    transition: 400ms;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: -150px;
    background: linear-gradient(135deg, rgba(255,255,255,0.9), rgba(255,255,255,0.6));
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: solid 1px var(--border2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    padding: 8px;
}
.alert > h2{
    color: rgb(23, 240, 23);
}
.alert + .alert > h2{
    color: rgb(240, 23, 23);
}